header {
  background-color: var(--color-green);
  width: 100%;
  /* min-height: 103px; */
  padding: 0.8rem 0 0;
  display: flex;
  gap: 0.35rem;
  flex-direction: column;
}
.text--red .star-icon {
  color: var(--color-red);
}
.text--white .star-icon {
  color: var(--color-white);
}
.text--orange .star-icon {
  color: var(--color-orange);
}
.header__text,
.header__timer {
  display: flex;
  justify-content: center;
  text-align: center;
}
.header__timer {
  gap: 8px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: var(--font-raleway);
  font-variant-numeric: lining-nums proportional-nums;
  align-items: center;
}
.header__timer-numbers {
  gap: 6px;
  display: flex;
}
.header__text {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1;
  gap: 10px;
  color: var(--color-whie);
  font-variant-numeric: lining-nums proportional-nums;
}

@media (max-width: 407px) {
  .header__text {
    font-size: 1.125rem;
  }
  .header__timer {
    font-size: 2rem;
  }
}
@media (max-width: 326px) {
  .header__text {
    font-size: 14px;
  }
  .header__timer {
    font-size: 28px;
  }
}
