.card-3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #9b9b9b;
}

@media (max-width: 407px) {
  .tariffs-mid-container__right .card-3 {
    margin-top: 22px;
    font-size: 10px;
  }
}
@media (max-width: 326px) {
  .tariffs-mid-container__right .card-3 {
    margin-top: 11px;
  }
}
