.card-1 {
  border: 1px solid var(--color-gray2);
  gap: 30px;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.card-1__header-text {
  border: 1px solid var(--color-lime);
  background-color: var(--color-gray);
  width: max-content;
  color: var(--color-lime);
  letter-spacing: 0%;
  border-radius: 30px;
  gap: 10px;
  padding: 16px 29px 15px;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}
.card-1__text {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--text-main);
  line-height: 1.3;
  letter-spacing: 0px;
}

@media (max-width: 407px) {
  .card-1 {
    padding: 11px;
    gap: 11px;
    border-radius: 20px;
  }
  .card-1__header-text {
    border-radius: 30px;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 12px;
    padding-left: 18px;
    font-size: 1.125rem;
  }
  .card-1__text {
    font-size: 0.875rem;
  }
}
@media (max-width: 326px) {
  .card-1 {
    gap: 10px;
  }
  .card-1__header-text {
    font-size: 16px;
  }
  .card-1__text {
    font-size: 0.8125rem;
  }
}
