/* app/styles/breadcrumbs.css */

.breadcrumbs {
  color: var(--color-white);
  padding: 1rem 0;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
}

.breadcrumbs ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem; /* 8px */
}

.breadcrumbs li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.breadcrumbs a {
  color: var(--color-white); /* gray-600 */
  text-decoration: none;
  transition: color 0.15s ease;
}

.breadcrumbs a:hover {
  /* color: var(--color-gray1); blue-600 */
  text-decoration: underline;
}

.breadcrumbs span[aria-current="page"] {
  color: var(--color-orange); /* gray-900 */
  font-weight: 500;
}

.breadcrumbs .separator {
  color: var(--color-white); /* gray-600 */
  user-select: none;
}
